@model FirstBookStore.Models.DbModels.Book
<!DOCTYPE html>

<html>
<head>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>BooksForm</title>
        <link rel="stylesheet" href="~/css/styles.css" />
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
</head>

<body>
<div>
    <div class="panel panel-success">
        <div class="panel-heading text-center"></div><h4>Book Form</h4>
    </div>
    
    <form class="p-a-l" asp-action="add" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Name">Name of book:</label>
            <input class="form-control" asp-for="Name"/>
        </div>
        <div class="form-group">
            <label asp-for="Author">Author:</label>
            <input class="form-control" asp-for="Author"/>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description:</label>
            <input class="form-control" asp-for="Description"/>
        </div>
        <div class="form-group">
            <label asp-for="WasBuy">Cost</label>
            <input class="form-control" asp-for="WasBuy"/>
        </div>
        <div class="form-group">
            <label asp-for="LinkToPict">Link to picture</label>
            <input class="form-control" asp-for="LinkToPict"/>
        </div>
        
        <div class="text-center">
            <button class="btn btn-primary" type="submit">
                Submit Book
            </button>
        </div>
    </form>
</div>
</body>
</html>