@model List<FirstBookStore.Models.DbModels.Book>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var target in Model)
{
    <div class="text-center">
        <h1>@target.name</h1>
        <h2>@target.author</h2>
        <h6>@target.description</h6>
        <p>Cost:@target.wasBuy</p>
        <p>Was add in:@target.dateCreate</p>
        <p>
            <a class="btn btn-warning" href="/book/DeleteById/@target.id">Delete</a>
        </p>
        
    </div>
}