@model List<FirstBookStore.Models.DbModels.Book>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var target in Model)
{
    <div class="text-center">
        <h1>@target.Name</h1>
        <h2>@target.Author</h2>
        <h6>@target.Description</h6>
        <p>Cost:@target.WasBuy</p>
        <p>Was add in:@target.DateCreate</p>
        <p>
            <a class="btn btn-warning" href="/book/IndividualPage/@target.id">Read</a>
            <a class="btn btn-warning" href="/book/DeleteById/@target.id">Delete</a>
        </p>
    </div>
}