@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<body>
<div>
    <h1>Thank you for review</h1>
    <h3>Now you can see it in other reviews</h3>
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="GetBooks">Return to reviews</a>
    </li>
    </ul>
</div>
</body>
