@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-8" >This is the first (or maybe no :() site about books reviews</h3>
    <h1>0_0</h1>
    <h5>Here you can add your review or read reviews from other users</h5>
    <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="GetBooks">Watch reviews</a>
    <h3>soon:)</h3>
</div>
<h3> I add "Last three reviews" soon </h3>

