@page
@model FirstBookStore.Views.Home.AddNewBook

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <title>here u can add your books</title>
</head>
<body>
<div>
    
</div>
</body>
</html>