@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Comments for this book was deleated</h2>
<p>
    <a class="btn btn-warning" href="/book/GetBooks">Return to reviews</a>
</p>
