@model FirstBookStore.Models.DbModels.Comment
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Your comment was deleated</h2>
<p>
    <a class="btn btn-warning" href="/comment/GetBooks">Return to book`s comments</a>
</p>
