@model List<FirstBookStore.Models.DbModels.Comment>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>All comments for this book</h2>
@foreach (var target in Model)
{
    <div class="text-center">
        <h3>@target.AuthorOfComment</h3>
        <h6>@target.BodyOfComment</h6>
        <h6>@target.DateAdd</h6>
        <p>Likes:@target.Likes,Dislikes:@target.Dislikes</p>
        <p>Was add in:@target.DateAdd</p>
        <p>
            <a class="btn btn-danger" href="/Comment/DeleteById/@target.id">Delete</a>
        </p>
        <div>
            <h6>Your evaluation</h6>
            <p>
                <a class="btn btn-outline-success" href="/Comment/AddLike/@target">Like</a>
                <a class="btn btn-outline-secondary" href="/Comment/RemoveLike/@target">Remove Like</a>
                <a class="btn btn-outline-danger" href="/Comment/AddDislike/@target">Dislike</a>
                <a class="btn btn-outline-secondary" href="/Comment/RemoveDislike/@target">Remove Dislike</a>
            </p>
        </div>
    </div>
}
